* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
  background-color: rgb(8, 8, 36);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* CABEÇALHO */

header {
    text-align: center;
    padding: 35px 20px;
}


.titulo-disney {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 55px;
    text-align: center;
    color: #ffffff;
    margin: 30px 0;
    letter-spacing: 2px;
    text-shadow:
        0 0 5px #ffffff,
        0 0 15px #4da6ff,
        0 4px 8px rgba(0, 0, 0, 0.5);
}

.titulo-disney span {
    color: #4da6ff;
    font-weight: bold;
    text-shadow:
        0 0 8px #ffffff,
        0 0 20px #4da6ff;
}


#contador {
    font-size: 18px;
    font-weight: bold;
}


/* CARDS */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: white;
    color: #222;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}

.card h2 {
    padding: 15px;
    text-align: center;
    font-size: 18px;
}


/* BOTÃO */

#carregarMais {
    display: block;
    margin: 50px auto 20px;
    border: solid 2px white;
    border-radius: 10px;
    padding: 14px 30px;
    background-color: #143753;
    color: white;
    font-size: 16px;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#carregarMais:hover {
    background-color: rgba(32, 121, 223, 0.137);
    color: white;
    transform: scale(1.05);
}


/* PÁGINA */

#pagina {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}